WATCH_ID:ursprungwatch
EVENTS:IN_OPEN,IN_CLOSE_WRITE,IN_CLOSE_NOWRITE,IN_CREATE,IN_DELETE,IN_DELETE_SELF,IN_MOVED_FROM,IN_MOVED_TO
EVENT_HANDLER:kafkasink
SINK_BROKERS:broker1:port1,broker2:port2,...
SINK_TOPIC:gpfs